<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title,class:"form-control w-50" %>
  </div>

  <div class="form-item">
    <%= form.label :content, class:"form-label" %>
    <%= form.text_area :content, class:"form-control",rows:"3" %>
  </div>

  <div class="form-item">
    <%= form.label :deadline, class:"form-label" %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="form-item">
    <%= form.label "未対応", class:"form-label" %>
    <%= form.radio_button :status, :incomplete %>
    <%= form.label "対応中", class:"form-label" %>
    <%= form.radio_button :status, :doing %>
  </div>

  <div class="float-end">
      <%= form.submit button_text, class:"btn btn-success" %>
  </div>
<% end %>