<%= form_with(model: task, local: true) do |form| %>
  <div class='form-item'>
    <%= form.label :title, class:'form-label font-weight-bold' %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class='form-item'>
    <%= form.label :content, class:'form-label font-weight-bold' %>
    <%= form.text_area :content, class:'form-control',rows:'3' %>
  </div>

  <div class='form-item'>
    <%= form.label :deadline, class:'form-label font-weight-bold' %>
    <%= raw sprintf(form.datetime_select(:deadline, {start_year: Time.zone.now.year, end_year: Time.zone.now.next_year.year, default: Time.zone.now, minute_step: 10, use_two_digit_numbers: true, date_separator: '%s', datetime_separator: '%s', time_separator: '%s'}), '年', '月', '日', '時') + '分'%>
  </div>

  <div class='form-item'>
    <%= form.label :status, class:'form-label font-weight-bold' %>
    <%= form.radio_button :status, :incomplete %>
    <%= form.label :status_incomplete, '未対応', class:'form-label' %>
    <%= form.radio_button :status, :doing %>
    <%= form.label :status_doing, '対応中', class:'form-label' %>
    <% if task.id.present? %>
      <%= form.radio_button :status, :complete %>
      <%= form.label :status_complete, '完了', class:'form-label' %>
    <% end %>
  </div>

  <div class='float-end'>
      <%= form.submit button_text, class:'btn btn-success' %>
  </div>
<% end %>