<div class="container">
  <h1>アサイン</h1>
  <div class="d-flex justfy-content-between">
    <div>
      <p>現在アサインされているユーザー</p>
      <p><%= @task.user.name %></p>
    </div>
    <div>
      <p>新しくアサインするユーザー</p>
      <%= form_with(model: @tasks, url: update_assign_task_path, local: false, method: :patch) do |form| %>
        <div class="select">
          <%= form.select :user_id, options_for_select(@users.map{|user| [user.name, user.id]}), { include_blank: '選択してください'}, {class: 'form-control'} %>
        </div>
        <div>
          <%= form.submit 'アサインする', class:"btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bg-light py-5 px-4 rounded-sm">
    <h1><%= @task.title%></h1>
    <p><%= @task.content%></p>
    <p>期限: <%= @task.deadline%></p>
    <p>ステータス: <%= status_text(@task.status)%></p>
  </div>
</div>