<header class="border-bottom border-light">
<nav class="d-flex justify-content-between bg-light align-items-center p-3">
  <div>
    <h5 class="d-inline-block"><%= link_to "タスク管理アプリ", root_path,class:"text-secondary mr-4"%></h5>
    <%= link_to "マイタスク", mypage_tasks_path,class:"text-secondary mr-4"%>
    <%= link_to "タスク一覧", root_path,class:"text-secondary mr-4"%>
    <%= link_to "ユーザー設定", edit_user_registration_path,class:"text-secondary mr-4"%>
    <% if user_signed_in? %>
      <%= link_to "サインアウト", destroy_user_session_path, method: :delete,class:"text-secondary mr-5" %>
    <% else %>
      <%= link_to "サインイン", new_user_session_path, class:"text-secondary mr-5" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <p class="m-0 text-secondary float-right">ようこそ<%= current_user.name%>さん</p>
  <% end %>
</nav>
</header>
