<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="w-75 mx-auto">
      <p class="notice p-2 m-2"><%= notice %></p>
      <p class="alert p-2 m-2"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
