<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="w-75 mx-auto">
      <p class="notice p-2 m-2"><%= notice %></p>
      <p class="alert p-2 m-2"><%= alert %></p>
      <%= yield %>
    </div>

  </body>
</html>
