<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container mw-75 py-3">
      <% flash.each do |key, value| %>
        <div class="<%= key %> p-2 m-2"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
